@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300;1,400&display=swap');

:root {
    --blue: #3c6382;
    --dark-blue: #0a3d62;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.3s,1.1s,.7,1.12); 
}

*::selection {
    background: var(--dark-blue);
    color:white;
}

html{
    overflow-x: hidden;
    font-size:62.5%;
  
}

section {
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top:8rem;
}

.heading {
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    font-size: 3.5rem;
}
header {
    align-items: center;
    width:100%;
    display:flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    padding: 2rem;
}


header .logo {
    color:var(--dark-blue);
    font-size: 2.5rem;
}

header .logo span{
    color:var(--blue);
}

header .navBar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: var(--dark-blue);
}

header .navBar a.active,
header .navBar a:hover {
    background: var(--blue);
    color:#fffF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header.sticky {
    background: #ffff;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

#menu {
    font-size: 3rem;
    color:var(--blue);
    display:none;
    cursor: pointer;
}
         
/* Home section starts */

.home {
    background:url(./photos/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .content {
    text-align: center;
    padding-left: 3rem;
}

.home .content h1{
    font-size:5rem;
    color:var(--dark-blue);
}

.home .content h3{
    font-size:4rem;
    color:var(--blue);
    font-weight: normal;
}

.home .content .btn{
    display: inline-block;
    padding: .7rem 3rem;
    color:#fffF;
    background: var(--blue);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.home .content .btn:hover{
    background: aqua;
    color:black;
}

/* Prevent Section Starts  */

.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.prevent .box-container .box {
    flex: 1 1 30rem;
    margin:1rem;
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
}

.prevent .box-container .box img {
    height: 12rem;
    padding: 1rem;
}

.prevent .box-container .box h3 {
    color: var(--blue);
    font-size: 2rem;
}

.prevent .box-container .box p {
    color: var(--dark-blue);
    font-size:1.4rem;
    padding: 1rem;
}

.prevent .box-container .box:hover {
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

}
/* Prevent Section Ends */

 /*    Symptoms Section ends   */

.symptoms {
   
    background:url(./photos/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.symptoms .column {

    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoms .column .main-image img {
    width: 43vh;
}

.symptoms .column .box-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.symptoms .column .box-container .box {
    margin: 1rem;
    text-align: center;
}

.symptoms .column .box-container .box img {

    width: 20rem;
    padding: 1rem;
}

.symptoms .column .box-container .box h3 {

    color: var(--blue);
    font-size: 2rem;
}
/*    Symptoms Section Ends    */

/* Precautions section starts */

.precautions .column {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.precautions .column .box-container {

    flex:1 1 50rem;
    margin:1.5rem;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.precautions .column .box-container .title {

    padding:1.5rem .5rem;
    text-align: center;
    font-size: 2.5rem;
    background: var(--blue);
    color: #ffff;
}

.precautions .column .box-container:last-child .title {

    background: red;
}

.precautions .column .box-container .box {

    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}

.precautions .column .box-container .box img {

    width:15rem;
    padding:1rem;
}

.precautions .column .box-container .box h3{

    font-size: 2rem;
    color: var(--blue);
}

.precautions .column .box-container .box p{

    font-size: 1.2rem;
    color: var(--dark-blue);
    padding: 1rem 0;
}
/* precautions section ends */

/* doctor section starts */

.doctor {

    background:url(./photos/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.doctor .box-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.doctor .box-container .box {

    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1rem;
    margin: 1.5rem;
    text-align: center;
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    width: 33rem;
}

.doctor .box-container .box img {

    margin: 1rem;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    background: var(--blue);
}

.doctor .box-container .box h3 {

    font-size: 2rem;
    color:var(--blue);
}

.doctor .box-container .box span {

    font-size: 1.5rem;
    color: var(--dark-blue);
}

.doctor .box-container .box .share{

    border-top: .2rem solid rgba(0,0,0,.1);
    padding: 1rem;
    margin-top: 1rem;
}


.doctor .box-container .box .share a {

    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: #eee;
    margin:.4rem;
    line-height: 4.5rem;
    color: var(--blue);
}

.doctor .box-container .box .share a:hover {

    background: var(--blue);
    color:#ffff;
    transform: rotate(360deg);
}
/* doctor section ends */

/* Hand wash section starts */

.hand-wash .column {

    display:flex;
    justify-content: center;
}

.hand-wash .column .main-image img {

    width: 25vw;
}

.hand-wash .column .box-container {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
}

.hand-wash .column .box-container .box {

    margin: 2rem;
    text-align: center;
}

.hand-wash .column .box-container .box img {

    width: 17rem;
    height: 17rem;
    padding:1rem;
}

.hand-wash .column .box-container .box h3 {

    font-size: 2rem;
    color: var(--blue);
}
/* Hand wash section ends */

/* footer section starts */

.footer {

    background:url(./photos/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container {

    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {

    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box h3 {

    font-size: 2.5rem;
    color: var(--blue);
    padding: 1rem 0;
}

.footer .box-container .box p{

    font-size: 1.5rem;
    color: var(--dark-blue);
    padding: .5rem 0;
}

.footer .box-container .box a{

    font-size: 1.5rem;
    color: var(--dark-blue);
    padding: .5rem 0;
    display: flex;
}

.footer a:hover {

    text-decoration: underline;
}

.footer .credit {

    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding: 2.5rem 1rem;
    color: var(--dark-blue);
}

.footer .credit a {

    color: var(--blue);
}
/* footer section ends */

/* scroll top */

.scroll-top {
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img {

    width: 8rem;
    animation: float 3s linear infinite;
}

@keyframes float {

    100%, 0% {
        transform: translateY(0rem);
    }
    
     50% {
        transform: translateY(-5rem);
     }
    }
 
@media (max-width:1200px){
    
    html{
        font-size:55%;
    }
}

@media (max-width:991px){

    section {
        padding: 1rem 3%;
        padding-top:8rem;
    }
    #menu {
        display: block;
    }

    header .navBar {
        position:absolute;
        top:100%; 
        left: 0;
        width: 100%;
        background:#fffF;
        padding:2rem;
        border-top: .1rem solid rgba(0,0,0,.1);    
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .navBar a{
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    header .navBar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .symptoms .column .main-image img {

        display: none;
    }

    .hand-wash .column .main-image img {

        display: none;
    }
} 

 
@media (max-width:768px){
    
    html{
        font-size:50%;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .home .content h3{
        font-size: 3.5rem;
    }
}


@media (max-width:450px){

    .home .content h1{
        font-size: 3.5rem;
    }

    .home .content h3{
        font-size: 2.5rem;
    }

    .symptoms .column .box-container .box img{

        width:14rem;
    }

    .precautions .column .box-container .box {
        flex-flow: column;
        text-align: center;
    }

    .doctor .box-container .box {

        width:100%;
    }
}

    
